node-red.txt
[{"id":"ceaef77d.f04ba8","type":"inject","z":"5260a214.85d9ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1480,"wires":[["5bcc4622.8fd818"]]},{"id":"859746d4.dbedf8","type":"debug","z":"5260a214.85d9ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":1480,"wires":[]},{"id":"5bcc4622.8fd818","type":"function","z":"5260a214.85d9ac","name":"hapiFHIR","func":"var require = global.get('require');\nconst https = require(\"https\");\n\nmsg.payload =\n{ \n    method: 'GET',\n    url: 'https://hapi.fhir.org/baseR4/Observation/1174688/'\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1480,"wires":[["56396b8f.4708a4"]]},{"id":"56396b8f.4708a4","type":"function","z":"5260a214.85d9ac","name":"axios","func":"var require = global.get('require');\nvar axios = require('axios');\n\nconst options = msg.payload\n\nasync function callAPI(options) {\n    try { \n        const response = await axios(options)\n        msg.payload = response.data;\n    } catch (error) { \n        msg.payload = error;\n    }\n    node.send(msg);\n}\n\ncallAPI(options);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1480,"wires":[["d4790adf.db96a8"]]},{"id":"d4790adf.db96a8","type":"http request","z":"5260a214.85d9ac","name":"schemaCheck(with Ajv)","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:3000/ajvapi","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":1480,"wires":[["859746d4.dbedf8"]]}]